.inputBar {
  padding: 4rem 0;
  margin: 10rem 0rem 4rem 0rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 400px;
  border-radius: 2rem; 
  background-size: cover;
  color: white;
}

.inputBox {
    font-size: 1rem;
    line-height: 1;
    height: 3rem;
    border: 1px solid #337ab7;
    min-width: 30rem;
    border-radius: .4rem 0 0 .4rem;
    outline: 1px solid #337ab7;
    padding: 1rem .4rem;
}

.inputBox::hover, .inputBox::focus {
    border: 1px solid #337aba;
}

.askButton {
    cursor: pointer;
    background: #337ab7;
    box-sizing: border-box;
    border: none;
    border-radius: 0 .4rem .4rem 0;
    height: calc(3rem + 2px);
    box-sizing: border-box;
    color: white;
    padding: 0 1rem;
}